body{
    height: 100vh;
    width: 100vw;
    background-color: rgb(52, 51, 99);
}
.chung{
    display: flex;
    justify-content: left;
    .left{
        width: 20%;
        background-color: white;
        border: #333 solid 2px ;//net ve cua khung ve
        width: 200px;//kichthuoc
        height: 300px;
        margin: 20px;
        display: center;
        align-items: center;
        // justify-content: center;
      
        li{
            list-style: none;
        }
        a{
            text-decoration: none;
            font-size: 20px;
            margin: 20px;
            &:hover{
                background-color: rgb(180, 226, 238);
            }
            .macDinh{
                background-color:  rgb(180, 226, 238);
            }
        }
         .form{
            h1{
                text-align: center;
                margin: 30px;
            }
            margin: 20px 0;
            width: 450px;
            input{
                margin: 10px 0;
                width: 450px;
                border: none;
                padding: 16px;
                letter-spacing: 2px;
                background: #fff;
                color: #51585f;
                border: 1px solid #05b993;
                box-shadow: 0px 11px 42px 1px rgba(58, 52, 82, 0.1);
            }
            button{
                margin: 20px;
                background: #705ecf;
                font-size: 15px;
                padding: 16px 80px;
                margin-left: -5px;
                color: white;
                border: none;
                letter-spacing: 1px;
                &:hover{
                    background: #816ceb;
                }
            }
        }
        // ul {
        //     display: block;
        //     list-style-type: disc;
        //     margin-top: 1em;
        //     margin-bottom: 1 em;
        //     margin-left: 0;
        //     margin-right: 0;
        //     padding-left: 40px;
        //   }

    }
    
    .right{
        display: flex;
        justify-content: center;
            
        .form{
            text-align: center;
            table{
                width: 760px;
                margin: 0 auto;
                border: 1px solid #333;
                display: flex;
                justify-content: center;
                th, td{
                    width: 250px;
                    padding: 10px 0;
                    border: 1px solid #333;
                    a{
                        margin: 10px;
                        background: #705ecf;
                        padding: 5px 10px;
                        border-radius: 5px;
                        color: white;
                        border: none;
                        letter-spacing: 1px;
                        &:hover{
                            background: #816ceb;
                        }
                    }
                }
            }
        }
  
        width: 20%;
        background-color: white;
        border: #333 solid 2px ;//net ve cua khung ve
        width: 1000px;//kichthuoc
        height: 100vh;
        margin: 20px;

    }
}
